## "Spaceship" operator (PHP7)

In [17]:
$things = [
    ['foo' => 5.5, 'bar' => 'abc'],
    ['foo' => 2.2, 'bar' => 'efg']
];

// Sort $things by 'foo' property, ascending (for descending switch $a and $b in body)
usort($things, function ($a, $b) {return $a['foo'] <=> $b['foo'];});
$things;

[
  [
    "foo" => 2.2,
    "bar" => "efg",
  ],
  [
    "foo" => 5.5,
    "bar" => "abc",
  ],
]

##  Order of data in REQUEST:
- GET
- POST
- COOKIE

There is no arrays PUT and DELETE, but there are some hacks.

## Unpacking attributes of function

In [2]:
function sum(...$numbers) {
    $acc = 0;
    foreach ($numbers as $n) {
        $acc += $n;
    }
    return $acc;
}
echo sum(1, 2, 3, 4);

function add($a, $b) {
    return $a + $b;
}
echo add(...[1, 2]);

10

3

## Generators

In [3]:
function collect($arr, $callback) {
    foreach($arr as $value) {
        yield $callback($value);
    }
}

In [5]:
$arr = [1, 2, 3, 4, 5, 6];
$collect = collect($arr, function($e) { return $e * $e; });
foreach($collect as $val) echo "$val ";

1

4

9

16

25

36

In [7]:
function select($arr, $callback) {
    foreach($arr as $value)
        if($callback($value)) yield $value;
}

In [9]:
$arr = [1, 2, 3, 4, 5, 6];
$select = select($arr, function($e) { return $e % 2 == 0 ? true : false; });
foreach($select as $val) echo "$val ";

2

4

6

In [10]:
$arr = [1, 2, 3, 4, 5, 6];
$select = select($arr, function($e) { return $e % 2 == 0 ? true : false; });
$collect = collect($select, function($e) { return $e * $e; });
foreach($collect as $val) echo "$val ";

4

16

36

### Return value by reference

In [12]:
function &reference() {
    $value = 3;
    while ($value > 0) {
        yield $value;
    }
}

In [13]:
foreach (reference() as &$number) {
    echo (--$number).' ';
}

2

1

0

## Slices

In [2]:
$input = [0, 1, 2, 3, 4];
print_r(array_slice($input, 2));
print_r(array_slice($input, 2, -1));
print_r(array_slice($input, -2, 1));
print_r(array_slice($input, 0, 3));

Array
(
    [0] => 2
    [1] => 3
    [2] => 4
)

Array
(
    [0] => 2
    [1] => 3
)

Array
(
    [0] => 3
)

Array
(
    [0] => 0
    [1] => 1
    [2] => 2
)

true